hr {
    width: 30%;
    margin: auto;
    /* align-items: center; */
}

.fa-brands {
    font-size: 6em;
    color: orange;
    padding-bottom: 50px;
}

.icon-circle {
    background-color: rgba(255, 241, 241, 0.866);
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 24px;
}

.text-numbers {
    vertical-align: text-bottom;
    font-size: 0.8em;
    line-height: 1;
}